<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="navbar-brand">
    <mat-icon class="navbar-brand-icon">account_balance</mat-icon>
    Progetto Scialpi
  </span>

  <span class="spacer"></span>

  <img class="user-avatar" src="https://ui-avatars.com/api/?name=Utente&background=22d3a0&color=fff&size=80" alt="avatar">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Impostazioni</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span (click)="logout()">Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" opened="false">
    <div class="sidenav-header">
      <h3>Navigazione</h3>
    </div>
    <mat-nav-list>
      <span class="nav-section-label">Principale</span>
      <a mat-list-item routerLink="/">
        <mat-icon>dashboard</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/graphics">
        <mat-icon>bar_chart</mat-icon>
        <span>Grafico</span>
      </a>
      <span class="nav-section-label">Operazioni</span>
      <a mat-list-item routerLink="/deposits">
        <mat-icon>arrow_downward</mat-icon>
        <span>Deposito</span>
      </a>
      <a mat-list-item routerLink="/prelievo">
        <mat-icon>arrow_upward</mat-icon>
        <span>Prelievo</span>
      </a>
      <a mat-list-item routerLink="/convert">
        <mat-icon>swap_horiz</mat-icon>
        <span>Converti</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
