<div>
    <label for="id">Id</label>
    <input type="text" [(ngModel)]="account().id" name="id">
    <button (click)="enterAccount()">Accedi &rarr;</button>
    <hr>
    <button type="button" (click)="toggleCreateAccount()">
      {{ showCreateAccount() ? 'Annulla' : 'Crea Account' }}
    </button>
</div>

@if (showCreateAccount()) {
  <div>
    <label for="id2">id</label>
    <input type="text" id="id2" name="id2">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name">
    <button type="submit">Crea</button>
  </div>
}