<div>
  <label for="id">Id</label>
  <input type="text" [(ngModel)]="account().id" name="id">
  <button [disabled]="showCreateAccount()" (click)="enterAccount()">Accedi &rarr;</button>
  <hr>
  <button type="button" (click)="toggleCreateAccount()">
    {{ showCreateAccount() ? 'Annulla' : 'Crea Account' }}
  </button>
</div>

@if (showCreateAccount()) {
<div>
  <label for="name">Nome:</label>
  <input type="text" [(ngModel)]="account().name" name="name">
  <select name="currency" [(ngModel)]="account().currency">
    @for (currency of getCurrencies(); track currency) {
      <option [value]="currency">
        {{ currency }}
      </option>
    }
  </select>
  <button (click)="createAccount()">Crea</button>
</div>
}