<div class="transaction-card">
  <div class="tx-type-icon" [class.deposit]="transazione.type === 'deposit'" [class.withdrawal]="transazione.type !== 'deposit'">
    <mat-icon>{{ transazione.type === 'deposit' ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
  </div>
  <div class="tx-info">
    <div class="tx-number">Transazione #{{num}}</div>
    <div class="tx-description">{{transazione.description}}</div>
    <div class="tx-date">{{date()}}</div>
  </div>
  <div class="tx-amount" [class.positive]="transazione.type === 'deposit'" [class.negative]="transazione.type !== 'deposit'">
    {{transazione.type === 'deposit' ? '+' : '-'}}{{transazione.amount}}
  </div>
</div>
